
#Executeables
*/extra_credit
ex1/ex1
ex2/ex2
ex3/ex3
ex4/ex4
ex5/ex5
ex5/ex5
ex6/ex6
ex7/ex7

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
.vscode

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
